#debugPanel {
  position: absolute;
  top: 600px;
  left: 10px;
  width: 350px;
  height: 400px;
  padding: 5px;
  color: #FFF;
  font-size: 0.9em;
  line-height: 1.3em;
  background-color: black;
  z-index: 1000;
  overflow: auto;
}