<ion-view view-title="{{project.name}}">
  <ion-content class="padding">
    <h4>
      {{project.lastText}}
    </h4>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-left item-icon-right item-icon-right" ng-repeat="tree in project.trees" type="item-text-wrap" href="#/tab/projects/{{project.id}}/{{tree.id}}">
        <i class="icon ion-leaf"></i>
        <h2>{{tree.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(tree.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
